/* @import "tailwindcss"; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html , body{
    height: 100%;
    width: 100%;
}

.box{
  width: 200px;
  height: 200px;
  background-color: lightseagreen;
  margin-bottom: 10px; 
  font-size: 100px; 
}

button{
  padding: 15px 30px; 
  background-color: lightseagreen;
  color: white; 
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

button:active{
    scale: 0.95;
}