/* @import "tailwindcss"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightseagreen;
  margin-bottom: 10px;
  font-size: 100px;
}

button {
  padding: 15px 30px;
  background-color: lightseagreen;
  color: white;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

button:active {
  scale: 0.95;
}

.parent {
  height: 100vh;
  padding: 10px;
  background-color: black;
}

.men {
  width: fit-content;
  padding: 20px 30px;
  background-color: royalblue;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

.women {
  width: fit-content;
  padding: 20px 30px;
  background-color: pink;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

.wash {
  width: fit-content;
  height: 300px;
  /* width: 300px; */
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.Male {
  background-color: royalblue;
}

.Female {
  background-color: pink;
}

.Others {
  background: conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
}
