*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 20px;
  width: 100%;
  height: 10vh;  
  background-color: salmon;
}

.section{
    width: 100%;
    height: 80vh;
    background-color: burlywood;
    padding: 100px;
}

.cen{
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: crimson; 
  text-align: center; 
}

.footer{
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
}